<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkl.mapper.AdminMapper">
	
	<select id="selectAdminById" resultType="adminObj"
		parameterType="int">
		select admin_id as
		adminId,
		admin_name as adminName,
		admin_gmail as adminGamil,
		admin_password as adminPassword
		from
		pos26_admin_HKL where admin_id=#{value}
	</select>
	
</mapper>